@import "../../styles/mixins.scss";

.login-page {
  width: 100%;
  height: 100vh;
  @include flexCenter()

}

.register-page {
  width: 100%;
  height: 100vh;
  @include flexCenter()
  
}

// PHONE SIZE
@include phone {
  .register-page,
  .login-page {
   width: 100%;
   height: 100vh;
   display: flex;
  }
}
