.demo-login-page {
 input,
 label {
  display: none;
 }
 width: 50%;
 .demo-submit-btn {
  text-decoration: underline;
  position: relative;
  height: 40px;
  display: flex;
  align-items: center;
  &:hover {
   color: var(--secondary-color);
   transition: all 100ms ease-in-out;
  }
  .right-arrow {
   height: 100%;
   margin-left: 0.5rem;
   color: var(--secondary-color);
   font-weight: bolder;
  }
 }
}