@import "../../styles/mixins.scss";

.game-page {
  width: 100vw;
  display: flex;
  position: relative;
  padding: 0 20rem;

  .game-side {
    width: 60%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: auto;
    .filter-labels {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-family: "Roboto", sans-serif;
      p {
        margin-bottom: 1rem;
      }
      .change-date {
        display: flex;
        gap: 1rem;
        cursor: pointer;

      }
      .live-label {
        color: red;
        font-weight: bold;
        cursor: pointer;
      }
    }
  }
  .game-controls {
    width: 20%;
    margin-right: auto;
    position: absolute;
    left: 20rem;
    border: 1px solid lightgray;
    
  
  }
}

// LAPTOP SIZE
@include laptop {
  .game-page {
    padding: 2rem 8rem;
    width: 100%;
    .game-controls {
      left: 8rem;
    }
  }
}


// PHONE SIZE
@include phone {
  .game-page {
    padding: 2rem 1rem;
    width: 100%;
    flex-direction: column;
    .game-controls {
      position: relative;
      width: 100%;
      left: 0;
      height: 150px;
      border: none;
      border-bottom: 2px solid #1e2a78;
    }
    .game-side {
      width: 100%;
      margin-top: 2rem;
    }
  }
}
