@import "../../styles/mixins.scss";

.home-page {
  width: 100%;
  height: 100vh;
  padding: 0rem 20rem;
  @include flexCol();
  .guest-login {
    width: 100%;
    height: 50%;
    position: relative;
    font-family: var(--secondaryFont);
    text-align: center;
    p {
      font-size: 1.2rem;
      margin-bottom: 1rem;
    }
    .demo-login-page {
      width: 100%;
      height: 100%;
      position: relative;
      .demo-auth-form-login {
        padding: 1rem;
        height: 80%;
        display: flex;
        justify-content: center;
        h2 {
          margin-bottom: 2rem;
        }
        .submit-btn {
          background-color: black;
          color: white;
          height: 50px;
          width: 100%;
          margin-top: 2rem;
        }
      }
    }
  }
  .title {
    display: flex;
    flex-direction: column;
    height: 40%;
    width: 100%;
    .home-text {
      position: relative;
      font-family: var(--primaryFont);
      width: 100%;
      text-align: center;
      h1 {
        font-size: 4.4rem;
        text-transform: uppercase;
        line-height: 4.5rem;
        margin-bottom: 2rem;
      }
      p {
        font-size: 2rem;
        line-height: 3.5rem;
      }
    }
    .btn-container-home {
      @include flexCenter();
      width: 50%;
      margin: 0 auto;
      position: relative;
      margin-top: 2rem;
      gap: 1rem;
      .btn {
        padding: 1rem 2rem;
        background-color: black;
        color: white;
        font-family: var(--secondaryFont);
        font-weight: lighter;
        @include flexCenter();
      }
    }
  }
  .image {
    width: 45%;
    position: absolute;
    right: 8rem;
    img {
      max-width: 100%;
    }
    .example {
      height: 75px;
      background-color: rgb(223, 218, 218);
      position: absolute;
      width: 100%;
      bottom: 7px;
      border-radius: 10px;
    }
  }
}

// LAPTOP SIZE
@include laptop {
  .home-page {
    width: 100vw;
    padding: 0 8rem;
    @include flexCol();
    .guest-login {
      margin-top: 4rem;
    }
    .title {
      width: 100%;
      .home-text {
        width: 100%;
        h1 {
          font-size: 3.3rem;
          line-height: 3.3rem;
        }
        p {
          font-size: 1.8rem;
          line-height: 1.8rem;
        }
      }
      .btn-container-home {
        width: 100%;
        @include flexCol();
        gap: 1rem;
        .btn {
          width: 300px;
          @include flexCenter();
          margin-top: 1rem;
        }
      }
    }
    .image {
      right: 4rem;
    }
  }
}

// PHONE SIZE
@include phone {
  .home-page {
    width: 100vw;
    padding: 0;
    @include flexCol();
    height: 100%;
    .guest-login {
      width: 100%;
      margin-top: 1rem;
      margin-bottom: 2rem;
      p {
      }
    }
    .title {
      padding: 2rem;
      width: 100%;
      text-align: center;
      .home-text {
        width: 100%;
        h1 {
          font-size: 3.3rem;
          line-height: 3.3rem;
        }
        p {
          font-size: 1.2rem;
          line-height: 1.8rem;
          font-family: var(--secondaryFont);
        }
      }
      .btn-container-home {
        width: 100%;
        @include flexCol();
        gap: 1rem;
        height: 50%;
        .btn {
          width: 100%;
          @include flexCenter();
          height: 50px;
        }
      }
    }
    .image {
      display: none;
    }
  }
}
