@import "../../../styles/mixins.scss";
.control-container {
  padding: 0.5rem 1rem;
  .date-container {
    @include alignCenter();
    justify-content: space-evenly;
    height: 75px;
    position: relative;
   
    .changer {
      font-size: 1.6rem;
      height: 75px;
      cursor: pointer;
    }
    .control-date {
      font-size: 1.8rem;
      font-family: var(--primaryFont);
      height: 100%;
      @include alignCenter();
    }
  }
}
