@import "../../styles/mixins.scss";

.home-nav {
  width: 100%;
  padding: 2rem 20rem;
  @include alignCenter();
  font-family: var(--secondaryFont);
  position: relative;
  .user-sub-nav {
    position: absolute;
    right: 20rem;
    top: 6rem;
  }
  .hide {
    display: none;
  }
  .desktop-links {
    display: block;
  }
  .brand,
  .user-info {
    width: auto;
    line-height: 1.8rem;
    height: 100%;
    display: flex;
    margin-right: 2rem;
    gap: 1rem;
    width: 25%;
    .logo {
      max-width: 150px;
    }
    .link {
      
    }
    .register {
      background-color: var(--secondary-color);
      color: white;
      padding: 8px 20px;
      border-radius: 7px;
      font-weight: lighter;
      margin-right: 1rem;
      &:hover {
        background-color: white;
        color: var(--secondary-color);
        outline: 1px solid var(--secondary-color);
        transition: all 200ms ease-in-out;
        font-weight: bold;
      }
    }
    .sign-btn {
      background-color: var(--secondary-color);
      color: white;
      padding: 0.5rem 1rem;
      margin-left: 1rem;
      border-radius: 5px;
      font-weight: lighter;
      cursor: pointer;
    }
  }
  .dropdown {
    display: none;
  }
  .nav-links,
  .desktop-links {
    width: 100%;
    height: 100%;
    justify-content: flex-start;
    @include alignCenter();
    ul {
      display: flex;
      gap: 1rem;
    }
  }
  .user-info {
    @include alignCenter();
    justify-content: flex-end;
    .mobile-user {
      display: none;
    }
    .down-arrow {
      margin-left: 0.5rem;
    }
    p {
      background-color: var(--secondary-color);
      padding: 0.5rem 0.75rem;
      color: white;
      text-transform: uppercase;
      border-radius: 6px;
      font-size: 0.9rem;
      margin-left: auto;
    }
    .burger {
      font-size: 1.5rem;
      margin-left: auto;
      cursor: pointer;
      margin-right: 2rem;
    }
    .mobile-burger {
      display: none;
    }
  }
}

// LAPTOP SIZE
@include laptop {
  .home-nav {
    padding: 2rem 8rem;
    .user-sub-nav {
      right: 8rem;
    }
    .brand {
      width: 25%;
    }
    .desktop-links {
      width: 100%;
    }
    .nav-links {
      display: block;
      margin-left: auto;
      display: flex;
      justify-content: flex-end;
    }
    .user-info {
      margin-left: auto;
      width: 25%;
      p {
        font-size: 0.8rem;
        margin-left: auto;
      }
    }
  }
}

// PHONE SIZE
@include phone {
  .home-nav {
    padding: 2rem 0rem;
    position: relative;
    align-items: center;
    .user-sub-nav {
      width: 100%;
      right: 0;
      padding: 1rem 2rem;
    }
    .brand {
      width: 45%;
      margin-left: 1rem;
    }
    .desktop-links {
      display: none;
    }
    .nav-links {
      display: block;
    }
    .dropdown {
      width: 100vw;
      transition: all 100ms ease-in-out;
      position: relative;
      background-color: #fff;
      position: absolute;
      top: 105px;
      z-index: 9999;
      display: block;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 10px 0px;
      .links {
        display: block;
        padding: 0;
        ul {
          @include flexCol();
          font-size: 1rem;
          height: 100%;
          background-color: #fff;
          gap: 0;
          a {
            border-top: 1px solid lightgray;
            height: 60px;
            display: flex;
            align-items: center;
            font-weight: lighter;
            padding-left: 2rem;
            &:hover {
              background-color: #f7f8fa;
            }
          }
          .last {
            border-bottom: 1px solid lightgray;
          }
        }
      }
    }
    .user-info {
      margin-left: auto;
      width: 50%;
      justify-content: center;
      margin-right: 1rem;
      height: 100%;
      .mobile-burger {
        display: block;
        font-size: 1.4rem;
        @include flexCenter();
      }
      .mobile-user {
        display: block;
      }
      .desktop-user {
        display: none;
      }
      p {
        font-size: 0.8rem;
        margin-left: auto;
      }

      .register {
        background-color: var(--secondary-color);
        color: white;
        padding: 4px 15px;
        border-radius: 7px;
        font-weight: lighter;
        &:hover {
          background-color: white;
          color: var(--secondary-color);
          outline: 1px solid var(--secondary-color);
          transition: all 200ms ease-in-out;
          font-weight: bold;
        }
      }
    }
  }
}
